/* 
body{
    background-color: #f8f9fa;  
    background: url(/static/images/joj.png) no-repeat 50% 50%; 
    background-size: cover;
    height: 100vh; 
    
}   */
/* Couleurs Sénégal */
.lead{
    color: green;
    font-weight: bold;
}
.loginText{
    font-weight: bold;
}
