{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h2 class="mb-4">Actualités JOJ</h2>

    <div class="row">
        {% for article in articles %}
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card h-100" style="width: 100%;">
                <img src="{{article.image.url}}" class="card-img-top imageCard" alt="{{article.image.url}}">
                <div class="card-body">
                    <h5 class="card-title">{{article.categorie}}</h5>
                    <p>
                         {{ article.titre }}
                    </p>
                    <a href="{% url "detail_article" article.id %}" class="btn btn-success">Voir plus</a>
                </div>
            </div>
        </div>
            
       {% endfor %}
    </div>
</div>

{% endblock %}